#admin-page-body {
  background-color: rgba(255, 255, 255, .99);
  height: 100Vh;
  overflow-y: auto;
}

#dashboard {
  margin-top: 3rem;
}

#dashboard .welcome-area {
  color: var(--clr-black);
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

#dashboard .welcome-area img {
  height: 10rem;
}

#dashboard .menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding-bottom: 5rem;
  margin-top: 4.5rem;
}

#dashboard .menu-card {
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: .025rem;
  padding: 1.5rem;
  border-radius: 5px;
  transition: var(--transition);
  box-shadow: var(--box-shadow);
}

#dashboard .menu-card:hover {
  transform: scale(1.05);
}

#dashboard .menu-card h3 {
  color: var(--clr-black);
  margin-top: .85rem;
}

#dashboard .menu-card p {
  color: var(--clr-black);
}


/* --- Devices (750px) --- */
@media only screen and (max-width: 750px) {
  #dashboard .menu-grid {
    gap: 1.5rem;
  }
}

/* --- Devices (523px) --- */
@media only screen and (max-width: 523px) {
  #dashboard .welcome-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  #dashboard .welcome-note {
    text-align: center;
  }
  #dashboard .welcome-area img {
    height: 7.5rem;
  }
  #dashboard .menu-grid {
    grid-template-columns: 1fr;
  }
}