@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

:root {
  --clr-white: #fff;
  --clr-black: #333333;
  --warning: red;
  --clr-accent: #10923b;
  --transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  --box-shadow: 0 0 4px rgba(0, 0, 0, .025),
                0 0 16px rgba(0, 0, 0, .025),
                0 0 32px rgba(0, 0, 0, .025),
                0 0 64px rgba(0, 0, 0, .025);
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: linear-gradient(to left, rgba(0, 0, 0, .35) 50%, rgba(0, 0, 0, .65) 100%), url(../img/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

a {
  text-decoration: none;
}

input, 
select,
textarea,
button {
  font: inherit;
}

button {
  cursor: pointer;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

table {
  background-color: var(--clr-white);
  width: 100%;
  color: var(--clr-black);
  margin-top: 1rem;
  border-collapse: collapse;
  box-shadow: var(--box-shadow);
}
table thead tr,
table tbody tr {
  border-bottom: 1px solid #e7e7e7;
}
table th,
table td {
  text-align: left;
  padding: .65rem;
}
table tbody tr:nth-of-type(odd) {
  background-color: #f8fffa;
}

/* --- Table Footer --- */
#table-footer {
  background-color: #fff;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding: .75rem .5rem;
  box-shadow: var(--box-shadow);
}
.pagination-container {
  list-style: none;
  display: flex;
  align-items: center;
  gap: .5rem;
}
.pagination-container a {
  color: #707683;
  padding: .25rem .5rem;
  user-select: none;
  border: 1px solid #fff;
  border-radius: 3px;
  cursor: pointer;
}
.pagination-container a:hover {
  color: var(--clr-accent) !important;
  border: 1px solid var(--clr-accent);
}
.pagination-active a,
.pagination-active a:hover {
  background-color: var(--clr-accent);
  color: #fff !important;
  border: 1px solid var(--clr-accent);
}
#table-footer a.previous-btn,
#table-footer a.next-btn {
  display: flex;
  align-items: center;
  color: var(--clr-accent);
  border: 1px solid rgba(16, 146, 59, .5);
}
.pagination-disabled a,
.pagination-disabled a:hover {
  color: #b4b4b4 !important;
  cursor: not-allowed;
  border: 1px solid #b4b4b4 !important;
}
/* --- End Pagination --- */

.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem
}

#form-container {
  max-width: 950px;
  margin: auto;
  padding: 1.5rem 1rem;
}

.page-intro {
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  padding: 1rem .5rem;
  border-radius: 2px;
}

form {
  display: flex;
  flex-direction: column;
}

#form-container form {
  gap: 1.25rem;
}

#form-container form .form-grp {
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  padding: 1rem .85rem;
  padding-bottom: 1.5rem;
  border-radius: 2px;
  box-shadow: var(--box-shadow);
}

#form-container form .form-grp label {
  color: var(--clr-black);
  font-weight: 600;
  margin-bottom: 1rem;
}

form .form-grp label span {
  color: var(--warning);
}

form .form-grp input,
form .form-grp select,
form .form-grp textarea {
  background-color: var(--clr-white);
  outline: none;
  border: none;
  border-bottom: 1px solid var(--clr-black);
}

form .form-grp_btn button {
  background-color: var(--clr-accent);
  color: var(--clr-white);
  font-weight: 600;
  width: 100%;
  border: none;
  padding: .85rem .65rem;
  border-radius: 2px;
}
form .form-grp_btn button:hover {
  background-color: rgba(16, 147, 60, .95);
}
form .form-grp_btn button:disabled {
  background-color: rgba(16, 147, 60, .5);
  cursor: not-allowed;
}

.swal2-styled.swal2-confirm {
  background-color: var(--clr-accent) !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  box-shadow: none !important;
}


/*** --- Login Screen --- ***/
#login-container {
  max-width: 500px;
  margin: auto;
  display: grid;
  align-items: center;
  height: 100vh;
  padding: 1.5rem 1rem;
}

#login-container form {
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 2.25rem;
  border-radius: 5px;
}

#login-container form h1 {
  color: var(--clr-black);
  margin-bottom: 1rem;
}

#login-container form .form-grp {
  display: flex;
  flex-direction: column;
}

#login-container form .form-grp label {
  display: flex;
  align-items: center;
  gap: .25rem;
  margin-bottom: .65rem;
}
#login-container form button {
  margin-top: 1rem;
}


/* --- Other CSS Files --- */
@import url(./Dashboard.css);
@import url(./Header.css);