@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

:root {
  --clr-white: #fff;
  --clr-black: #333333;
  --warning: red;
  --clr-accent: #10923b;
  --transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  --box-shadow: 0 0 4px rgba(0, 0, 0, .025),
                0 0 16px rgba(0, 0, 0, .025),
                0 0 32px rgba(0, 0, 0, .025),
                0 0 64px rgba(0, 0, 0, .025);
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: linear-gradient(to left, rgba(16, 146, 59, .225) 50%, rgba(16, 146, 59, .225)), url(../img/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

a {
  text-decoration: none;
}

input, 
select,
textarea,
button {
  font: inherit;
}

button {
  cursor: pointer;
}

.page-title { 
  color: var(--clr-black);
  margin-bottom: 1.5rem;
}

.page-title a { 
  color: var(--clr-accent);
}
.page-title a:hover { 
  text-decoration: underline;
}

.whg-nav-tabs {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 1.25rem;
}
.whg-nav-tabs li {
  background-color: var(--clr-white);
  padding: .25rem .75rem;
  cursor: pointer;
  border: 3px solid var(--clr-white);
}
.whg-nav-tabs li.active {
  background-color: var(--clr-accent);
  color: var(--clr-white);
}

main {
  padding: .5rem 2rem;
  margin-top: 1rem;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.table-features {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.table-features button,
.table-features a {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .5rem .75rem;
  border-radius: 2px;
}

button.wg-btn-light {
  background-color: var(--clr-white);
  border: 1px solid var(--clr-accent);
}

.table-features a,
button.wg-btn-solid {
  background-color: var(--clr-accent) !important;
  color: var(--clr-white);
  border: 1px solid var(--clr-accent);
}

table {
  background-color: var(--clr-white);
  width: 100%;
  color: var(--clr-black);
  border-collapse: collapse;
  box-shadow: var(--box-shadow);
}
table thead tr,
table tbody tr {
  border-bottom: 1px solid #e7e7e7;
}
table th,
table td {
  text-align: left;
  padding: .65rem;
}
table tbody tr:nth-of-type(odd) {
  background-color: #f5fff7;
}
.table-msg {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* --- Table Footer --- */
#table-footer {
  background-color: #fff;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding: .75rem .5rem;
  box-shadow: var(--box-shadow);
}
.pagination-container {
  list-style: none;
  display: flex;
  align-items: center;
  gap: .5rem;
}
.pagination-container a {
  color: #707683;
  padding: .25rem .5rem;
  user-select: none;
  border: 1px solid #fff;
  border-radius: 3px;
  cursor: pointer;
}
.pagination-container a:hover {
  color: var(--clr-accent) !important;
  border: 1px solid var(--clr-accent);
}
.pagination-active a,
.pagination-active a:hover {
  background-color: var(--clr-accent);
  color: #fff !important;
  border: 1px solid var(--clr-accent);
}
#table-footer a.previous-btn,
#table-footer a.next-btn {
  display: flex;
  align-items: center;
  color: var(--clr-accent);
  border: 1px solid rgba(16, 146, 59, .5);
}
.pagination-disabled a,
.pagination-disabled a:hover {
  color: #b4b4b4 !important;
  cursor: not-allowed;
  border: 1px solid #b4b4b4 !important;
}
/* --- End Pagination --- */

.container {
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem
}

#form-container {
  max-width: 950px;
  margin: auto;
  padding: 1.5rem 1rem;
}

.page-intro {
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  margin-bottom: 1.25rem;
  padding: 1rem .5rem;
  border-radius: 2px;
}

form {
  display: flex;
  flex-direction: column;
}

#form-container form {
  gap: 1.25rem;
}

#form-container form .form-grp {
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  padding: 1rem .85rem;
  padding-bottom: 1.5rem;
  border-radius: 2px;
  box-shadow: var(--box-shadow);
}

#form-container form .form-grp label {
  color: var(--clr-black);
  font-weight: 600;
  margin-bottom: 1rem;
}

form .form-grp label span {
  color: var(--warning);
}

form .form-grp input,
form .form-grp select,
form .form-grp textarea {
  background-color: var(--clr-white);
  outline: none;
  border: none;
  border-bottom: 1px solid var(--clr-black);
}

form .form-grp_btn button {
  background-color: var(--clr-accent);
  color: var(--clr-white);
  font-weight: 600;
  width: 100%;
  border: none;
  padding: .85rem .65rem;
  border-radius: 2px;
}
form .form-grp_btn button:hover {
  background-color: rgba(16, 147, 60, .95);
}
form .form-grp_btn button:disabled {
  background-color: rgba(16, 147, 60, .5);
  cursor: not-allowed;
}

/* --- Movement IDs --- */
.movement-id-area {
  color: var(--clr-black);
}
.movement-id-area span {
  background-color: rgba(16, 146, 59, .15);
  color: var(--clr-accent);
  font-weight: 600;
  padding: .075rem .25rem;
  border-radius: 5px;
  border: 1px solid var(--clr-accent);
}
button.check-id {
  width: fit-content;
  padding: .25rem .65rem;
  margin-top: .5rem;
}

.swal2-styled.swal2-confirm {
  background-color: var(--clr-accent) !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  box-shadow: none !important;
}


/*** --- Login Screen --- ***/
#login-container {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 1.5rem 1rem;
}

.logo-area {
  display: flex;
  justify-content: center;
}

.logo-area img {
  width: 15rem;
}

#login-container form {
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 2.25rem;
  border-radius: 3px;
}

#login-container form h1 {
  color: var(--clr-black);
  margin-bottom: 1rem;
}

#login-container form .form-grp {
  display: flex;
  flex-direction: column;
}

#login-container form .form-grp label {
  display: flex;
  align-items: center;
  gap: .25rem;
  margin-bottom: .65rem;
}
#login-container form button {
  margin-top: 1rem;
}

#login-container .inventory-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}
#login-container .inventory-links a {
  background-color: var(--clr-white);
  color: var(--clr-accent);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: .15rem;
  padding: .5rem 1rem;
  border-radius: 3px;
  transition: var(--transition);
}
#login-container .inventory-links a:nth-child(2) {
  align-items: flex-end;
}
#login-container .inventory-links a:hover {
  transform: scale(1.025);
}


/* --- Reports Page --- */
.custom-filter {
  position: relative;
}
.filter-dropdown {
  position: absolute;
  background-color: #fff;
  padding: 1rem;
  top: 0;
  left: 10rem;
  opacity: 0;
  visibility: hidden;
  width: max-content;
  /* overflow: hidden; */
  border-radius: 3px;
  z-index: 999;
  box-shadow: var(--box-shadow);
  transition: .15s ease-in-out;
}
.filter-dropdown.display {
  left: 9.5rem;
  opacity: 1;
  visibility: visible;
}

.checkbox-grp {
  position: relative;
}
.checkbox-grp .close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  padding: .05rem;
  color: #5c5c5c;
  top: .2rem;
  right: 0;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--clr-white);
  transition: .05s ease-in-out;
}
.checkbox-grp .close-btn:hover {
  border: 1px solid var(--clr-black);
}
.filter-dropdown .checkbox-grp p {
  color: #5c5c5c;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: .5rem;
}

.checkbox-ctrl {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.checkbox-ctrl input[type="radio"]:checked {
  filter: invert(29%) sepia(100%) saturate(3065%) hue-rotate(132deg) brightness(94%) contrast(95%);
}
.checkbox-ctrl label {
  padding-left: 10px;
}
.checkbox-grp .filter-date-range {
  display: grid;
  grid-template-columns: .7fr .7fr;
  gap: 0 30px;
}
.checkbox-grp .filter-date-range input[type="text"],
.checkbox-grp .filter-date-range input[type="date"] {
  background-color: #fff;
  padding: 2px 8px;
  width: 100%;
  color: #4b4b4b;
  border-radius: 3px;
  outline: none;
  border: 0;
  border: 1px solid #cfcfcf;
  box-shadow: 0 0 1px #cfcfcf;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
.checkbox-grp .filter-date-range input[type="text"]:disabled {
  border: 1px solid #f0f0f0;
  box-shadow: 0 0 1px #f0f0f0;
}
.checkbox-grp .filter-date-range input[type="date"]:focus {
  outline: none;
  border: 1px solid var(--clr-accent);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.submit-filter {
  display: flex;
  justify-content: flex-end;
}
.checkbox-grp input[type="submit"] {
  background-color: var(--clr-accent);
  color: #ffff;
  border-radius: 3px;
  margin-bottom: 5px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px !important;
  padding: .5rem 1.25rem;
  border: none;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease-out;
}

/* --- Other CSS Files --- */
@import url(./Dashboard.css);
@import url(./Header.css);
@import url(./Modal.css);